.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    width: 1000px;
    height: 500px;
    background-size: cover;
}

.h1 {
    padding-left: 300px;
}

.navbar-inverse {
    background-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: #FF1808
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #0D0101
}

.dropdown-menu {
    background-color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #0D0101
}

.navbar-inverse {
    background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #FFFFFF
}

.navbar-inverse .navbar-brand {
    color: #0F0F0F
}

.navbar-inverse .navbar-brand:hover {
    color: #0A0A0A
}

.navbar-inverse .navbar-nav>li>a {
    color: #050505
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #FFFFFF
}

.dropdown-menu>li>a {
    color: #333333
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #FF1808
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF
}
